:root {
    color-scheme: dark;
    --bg: #272723;
    --yellow: #F3B600;
    --fg: #FFFFFFE8;
    --bg-dialog: #414137;
    --retroBorder:
        2px 0 var(--yellow),
        -2px 0 var(--yellow),
        0 -2px var(--yellow),
        0 2px var(--yellow);
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: var(--fg);
    font-family: system-ui;
}

.optionButton,
.elementMenuButton,
.aboutButton,
#menuWrapper {
    background-color: var(--bg)
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    place-items: center;
}

input {
    accent-color: var(--yellow)
}

#menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.elementMenuButton {
    border: 1px solid #919191;
    padding: 2px;
    text-align: center;
    width: 100%;
    min-width: 5rem;
    font-size: .9rem;
}

.selectedElementMenuButton {
    border: none;
    box-shadow: var(--retroBorder);
}

.optionsCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
    padding: .1rem;
}

.optionsCol div {
    display: flex;
    justify-content: space-between
}

.optionButton {
    color: var(--fg);
    border: unset;
    box-shadow: var(--retroBorder);
    margin: 5px;
}

.aboutModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: var(--bg-dialog);
    color: var(--fg);
    text-align: center;
    padding: 1rem;

}

a {
    color: var(--fg);
}

a:hover,
a:visited {
    color: var(--yellow);
}

.aboutButton {
    border: none;
    padding-inline: 5px;
    box-shadow: var(--retroBorder);
}

.info-wrapper {
    display: flex;
    width: 100%;
    padding: 5px;
    padding-inline: 1rem;
    justify-content: space-between;
}
