@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    color-scheme: dark;
    --bg: #272723;
    --yellow: #F3B600;
    --fg: #FFFFFFE8;
    --bg-dialog: #414137;
    --border-secondry-color: #919191;
    --retroBorder:
        2px 0 var(--yellow),
        -2px 0 var(--yellow),
        0 -2px var(--yellow),
        0 2px var(--yellow);
}

* {
    font-family: "VT323", monospace;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    color: var(--fg);
}

.button {
    border: none;
    padding: .2rem;
    box-shadow: var(--retroBorder);
    background-color: var(--bg)
}

.button:active {
    background-color: var(--yellow);
    color: var(--bg);

}

input {
    accent-color: var(--yellow)
}

a {
    color: var(--fg);
}

a:hover,
a:visited {
    color: var(--yellow);
}

.elementMenuButton,
#menuWrapper {
    background-color: var(--bg)
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr .5fr;
    place-items: stretch;
}

#menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: .5rem;
}

.elementMenuButton {
    border: 1px solid var(--border-secondry-color);
    padding: 2px;
    text-align: center;
    min-width: 5rem;
    font-size: 1rem;
}

.selectedElementMenuButton {
    border: none;
    box-shadow: var(--retroBorder);
}

.optionsCol {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .1rem;

}

.optionsCol div {
    display: flex;
    justify-content: space-between;
}

.optionButton {
    margin: .2rem;
}

.aboutModal {
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: var(--bg-dialog);
    color: var(--fg);


}

.aboutModal[open] {
    display: grid;
}

.modalContent {
    text-align: center;
    padding: 1rem;
    padding-top: 0;
}

.modalCloseButton {
    margin: .5rem;
    margin-bottom: 0;
    place-self: end;
    padding-block: .1rem;
    padding-inline: .3rem
}

.infoWrapper {
    display: flex;
    width: 100%;
    padding-inline: 1rem;
    padding-block: .5rem;
    justify-content: space-between;
}

@media screen and (width >=700px) {
    .wrapper {
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
    }
}